ecommerce-front/ecommerce-angular/src/assets/userTransaction.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:8080/TransactionUserService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserTransactionService" targetNamespace="http://localhost:8080/TransactionUserService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080/TransactionUserService" elementFormDefault="unqualified" targetNamespace="http://localhost:8080/TransactionUserService" version="1.0">
      <xs:element name="debitCustomer" type="tns:debitCustomer"/>
      <xs:element name="debitCustomerResponse" type="tns:debitCustomerResponse"/>
      <xs:element name="refundCustomer" type="tns:refundCustomer"/>
      <xs:element name="refundCustomerResponse" type="tns:refundCustomerResponse"/>
      <xs:complexType name="debitCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:userInputSoap"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userInputSoap">
        <xs:sequence>
          <xs:element name="amount" type="xs:double"/>
          <xs:element name="id" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="debitCustomerResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="refundCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:userInputSoap"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="refundCustomerResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="refundCustomerResponse">
    <wsdl:part element="tns:refundCustomerResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refundCustomer">
    <wsdl:part element="tns:refundCustomer" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitCustomerResponse">
    <wsdl:part element="tns:debitCustomerResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitCustomer">
    <wsdl:part element="tns:debitCustomer" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TransactionUserService">
    <wsdl:operation name="debitCustomer">
      <wsdl:input message="tns:debitCustomer" name="debitCustomer"> </wsdl:input>
      <wsdl:output message="tns:debitCustomerResponse" name="debitCustomerResponse"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refundCustomer">
      <wsdl:input message="tns:refundCustomer" name="refundCustomer"> </wsdl:input>
      <wsdl:output message="tns:refundCustomerResponse" name="refundCustomerResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserTransactionServiceSoapBinding" type="tns:TransactionUserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="debitCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="debitCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="debitCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refundCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="refundCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="refundCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserTransactionService">
    <wsdl:port binding="tns:UserTransactionServiceSoapBinding" name="UserTransaction">
      <soap:address location="http://localhost:8080/UserTransactionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
